<%= form_for(change_table_tweet_info) do |f| %>
  <% if change_table_tweet_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(change_table_tweet_info.errors.count, "error") %> prohibited this change_table_tweet_info from being saved:</h2>

      <ul>
      <% change_table_tweet_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweetid %>
    <%= f.text_field :tweetid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
