<p id="notice"><%= notice %></p>

<p>
  <strong>Tweetinfo:</strong>
  <%= @model.TweetInfo %>
</p>

<p>
  <strong>User:</strong>
  <%= @model.user %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @model.tweet %>
</p>

<p>
  <strong>Link:</strong>
  <%= @model.link %>
</p>

<p>
  <strong>Hashtags:</strong>
  <%= @model.hashtags %>
</p>

<p>
  <strong>Tweetid:</strong>
  <%= @model.tweetid %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @model.photo %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
