<%= form_for(tweet_info) do |f| %>
  <% if tweet_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet_info.errors.count, "error") %> prohibited this tweet_info from being saved:</h2>

      <ul>
      <% tweet_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <div class="field">
    <%= f.label :tweet %>
    <%= f.text_field :tweet %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :hashtags %>
    <%= f.text_field :hashtags %>
  </div>

  <div class="field">
    <%= f.label :tweetid %>
    <%= f.number_field :tweetid %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
