<p id="notice"><%= notice %></p>

<h1>Tweet Infos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tweet</th>
      <th>Link</th>
      <th>Hashtags</th>
      <th>Tweetid</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweet_infos.each do |tweet_info| %>
      <tr>
        <td><%= tweet_info.user %></td>
        <td><%= tweet_info.tweet %></td>
        <td><%= tweet_info.link %></td>
        <td><%= tweet_info.hashtags %></td>
        <td><%= tweet_info.tweetid %></td>
        <td><%= tweet_info.photo %></td>
        <td><%= link_to 'Show', tweet_info %></td>
        <td><%= link_to 'Edit', edit_tweet_info_path(tweet_info) %></td>
        <td><%= link_to 'Destroy', tweet_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet Info', new_tweet_info_path %>
